In [1]:
a = 3 
b = 2
a + b

5

In [2]:
print a + 3

6

In [5]:
import requests
dir(requests)
help(requests)
?requests

Help on package requests:

NAME
    requests

FILE
    c:\anaconda2\lib\site-packages\requests\__init__.py

DESCRIPTION
    Requests HTTP library
    ~~~~~~~~~~~~~~~~~~~~~

    Requests is an HTTP library, written in Python, for human beings. Basic GET
    usage:

       >>> import requests
       >>> r = requests.get('https://www.python.org')
       >>> r.status_code
       200
       >>> 'Python is a programming language' in r.content
       True

    ... or POST:

       >>> payload = dict(key1='value1', key2='value2')
       >>> r = requests.post('http://httpbin.org/post', data=payload)
       >>> print(r.text)
       {
         ...
         "form": {
           "key2": "value2",
           "key1": "value1"
         },
         ...
       }

    The other HTTP methods are supported - see `requests.api`. Full documentation
    is at <http://python-requests.org>.

    :copyright: (c) 2015 by Kenneth Reitz.
    :license: Apache 2.0, see LICENSE for more details.

PACKAGE CONTENTS
    adapters
    api
    auth
    certs
    compat
    cookies
    exceptions
    hooks
    models
    packages (package)
    sessions
    status_codes
    structures
    utils

DATA
    __author__ = 'Kenneth Reitz'
    __build__ = 133377
    __copyright__ = 'Copyright 2015 Kenneth Reitz'
    __license__ = 'Apache 2.0'
    __title__ = 'requests'
    __version__ = '2.9.1'
    codes = <lookup 'status_codes'>

VERSION
    2.9.1

AUTHOR
    Kenneth Reitz

In [6]:
dir(3.14)

['__abs__',
 '__add__',
 '__class__',
 '__coerce__',
 '__delattr__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__int__',
 '__le__',
 '__long__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setformat__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

## Python requests

In [ ]:
import requests
res = requests.get('http://www.appledaily.com.tw/realtimenews/section/new/')
print res

In [6]:
import requests
proxies = {
  'http': 'http://proxy.cht.com.tw:8080',
  'https': 'http://proxy.cht.com.tw:8080',
}
res = requests.get('http://www.appledaily.com.tw/realtimenews/section/new/', proxies=proxies)
print res

<Response [200]>

In [30]:
print type(res)

<class 'requests.models.Response'>

In [12]:
print dir(res)
print res.headers
print res.url

['__attrs__', '__bool__', '__class__', '__delattr__', '__dict__', '__doc__', '__format__', '__getattribute__', '__getstate__', '__hash__', '__init__', '__iter__', '__module__', '__new__', '__nonzero__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_content', '_content_consumed', 'apparent_encoding', 'close', 'connection', 'content', 'cookies', 'elapsed', 'encoding', 'headers', 'history', 'is_permanent_redirect', 'is_redirect', 'iter_content', 'iter_lines', 'json', 'links', 'ok', 'raise_for_status', 'raw', 'reason', 'request', 'status_code', 'text', 'url']
{'Content-Length': '15368', 'Content-Encoding': 'gzip', 'Age': '0', 'Vary': 'Accept-Encoding', 'Server': 'Apache', 'Connection': 'close', 'Date': 'Thu, 05 May 2016 02:09:07 GMT', 'Content-Type': 'text/html; charset=utf-8'}
http://www.appledaily.com.tw/realtimenews/section/new/

In [13]:
#print res.text

In [18]:
import requests
res = requests.get('http://www.cht.com.tw/', proxies = proxies)
print res.encoding
res.encoding = 'utf-8'
print res.encoding
#print res.text

ISO-8859-1
utf-8

In [19]:
dic = {'a': 1, 'b':2 , 'c':4}
print  dic['b']

2

In [23]:
import requests
payload = {
'StartStation':'977abb69-413a-4ccf-a109-0272c24fd490',
'EndStation':'e6e26e66-7dc1-458f-b2f3-71ce65fdc95f',
'SearchDate':'2016/05/05',
'SearchTime':'10:30',
'SearchWay':'DepartureInMandarin'
}

res = requests.post('https://www.thsrc.com.tw/tw/TimeTable/SearchResult', data=payload, proxies = proxies)
#print res.text

## BeautifulSoup

In [31]:
from bs4 import BeautifulSoup
html_sample='''
<html> 
<body> 
   <h1 id="title">Hello World</h1> 
   <a href="#" class="link">This is link1</a> 
   <a href="# link2" class="link">This is link2</a> 
</body> 
</html>'''
print html_sample

soup = BeautifulSoup(html_sample, 'html.parser')
print type(soup)
print soup.text

<html>
<body>
   <h1 id="title">Hello World</h1>
   <a href="#" class="link">This is link1</a>
   <a href="# link2" class="link">This is link2</a>
</body>
</html>
<class 'bs4.BeautifulSoup'>



Hello World
This is link1
This is link2

In [36]:
a = [1,2,3,4,5]
print a[0]
print a[1]
print a[-1]

1
2
5

In [39]:
print type(soup.select('a'))
print soup.select('a')
print type(soup.select('a')[0])
print soup.select('a')[0]
print soup.select('a')[0].text

<type 'list'>
[<a class="link" href="#">This is link1</a>, <a class="link" href="# link2">This is link2</a>]
<class 'bs4.element.Tag'>
<a class="link" href="#">This is link1</a>
This is link1

In [44]:
print type(soup.select('h1'))
print soup.select('h1')
print soup.select('h1')[0]
print soup.select('h1')[0].text

<type 'list'>
[<h1 id="title">Hello World</h1>]
<h1 id="title">Hello World</h1>
Hello World

In [46]:
# id => #
print soup.select('#title')

[<h1 id="title">Hello World</h1>]

In [47]:
# class => .
print soup.select('.link')

[<a class="link" href="#">This is link1</a>, <a class="link" href="# link2">This is link2</a>]

In [51]:
for link in soup.select('.link'):
    #print link
    #print link.text
    print link['href']

#
# link2

In [55]:
a = '<a href=# qoo=123 iii=ttt>this is a link</a>'
soup2 = BeautifulSoup(a)
print soup2.select('a')
print soup2.select('a')[0]
print soup2.select('a')[0]['iii']
print soup2.select('a')[0]['qoo']

[<a href="#" iii="ttt" qoo="123">this is a link</a>]
<a href="#" iii="ttt" qoo="123">this is a link</a>
ttt
123

## real case on appledaily

In [72]:
import requests
from bs4 import BeautifulSoup as bs
res = requests.get('http://www.appledaily.com.tw/realtimenews/section/new/', proxies=proxies)
soup = bs(res.text)

#print soup.select('a')
print len(soup.select('li.rtddt'))
for li in soup.select('li.rtddt'):
    print "==================="
    #print li
    print li.select('h1')[0].text, li.select('time')[0].text, li.select('h2')[0].text

32
===================
【雙全會】談美豬　林全：談判前不應公開底...(0) 11:28 政治
===================
【民報】全球央行小心！匿名者揚言攻擊 希...(0) 11:27 財經
===================
【雙全會】蘇嘉全：林全內閣沒有蜜月期(0) 11:27 政治
===================


【特企】靠它！銀髮一族享受活力趴趴走 (1318)

11:27 特企
===================
【央廣RTI】美印聯合反潛促同盟？學者：...(0) 11:25 國際
===================
弱女子當關　擋300新納粹份子示威(0) 11:25 國際
===================
全球大學排名連3降　台大：國家競爭力下滑...(0) 11:24 生活
===================
明年經典賽韓國舉辦？　棒協：5月中旬才確...(75) 11:22 體育
===================
【民報游惠玲專欄】炒米粉，不炒！不吵！(28) 11:20 生活
===================
【更新】任內最後一次備詢　吳思華語錄在此...(706) 11:18 生活
===================
【更新】撤回課綱微調？　教育部長推給課審...(905) 11:15 生活
===================
鵝媽媽的逆襲！　攻擊女童照片瘋傳(865) 11:15 國際
===================
【央廣RTI】歐盟重返利比亞   馬爾他...(18) 11:15 國際
===================
Apple Music被續約  去官網討...(302) 11:14 3C
===================
台大醫院電腦當機　11時修復(123) 11:14 生活
===================


【特企】明杰現場飆高音 易恩獨演被吐槽 (1661)

11:14 特企
===================
涉賭裁判爆料　100%的NBA裁判有在賭...(79) 11:13 體育
===================
逆向女騎士也有優先路權？　鄉民熱議(1483) 11:12 社會
===================
全球排名台大又下滑　吳思華：投資高教是必...(6) 11:12 生活
===================
新內閣最快23日備詢　陳學聖首邀鄭麗君報...(619) 11:09 政治
===================
夏普考慮空降社長　伊藤嘉明將出線？(685) 11:09 財經
===================
陳柏霖宋智孝甜蜜婚！她揭密「這才是真相」(1603) 11:07 生活
===================
法務部下周再赴中　協商馬國詐騙案32台人(280) 11:06 社會
===================
挺絕食抗議警察暴力　藝術家警局外獻劇《你...(189) 11:05 國際
===================
【央廣RTI】川普將獲提名  共和黨不改...(207) 11:05 國際
===================
【網路溫度計】解婕翎曝電玩癖好 最愛恐怖...(270) 11:04 娛樂
===================
公車改採里程計費等於漲價？北市府澄清：未...(2) 11:03 生活
===================
【雙全會】林全拜會蘇嘉全　兩人閉門會談1...(1161) 11:02 政治
===================
台人跨國詐欺未爆彈　羅瑩雪：還有10幾個...(12866) 11:02 社會
===================
美國國家科學院公佈新院士　5華裔入選(623) 11:02 國際
===================
男連夜開200公里返家　開到睡著撞電桿(1476) 11:01 社會
===================
驚呆！美魔女劉曉慶撞玻璃　整臉粉底竟留門...(3796) 11:00 娛樂

In [73]:
a = 'hello'
b = 'world'
print a + b

helloworld

In [75]:
s = 'apple'
print s == 'apple'

True

## Regular Expression

In [85]:
import re
a = 'apple'
m  = re.match('a', a)
print m.group(0)

m  = re.match('[abcdefghhijklmnopqrstuvwxyz]', a)
print m.group(0)

m  = re.match('[a-z]', a)
print m.group(0)

a
a
a

In [86]:
s = '1a2@'
m  = re.match('1', s)
print m.group(0)

m  = re.match('[0123456789]', s)
print m.group(0)

m  = re.match('[0-9]', s)
print m.group(0)

m  = re.match('\d', s)
print m.group(0)

1
1
1
1

In [87]:
s = 'b@#$#%^%$&^%&'
m  = re.match('\w', s)
print m.group(0)

b

In [110]:
import re
a = 'apple'
m  = re.match('\w{3,6}', a)
print m.group(0)

m  = re.match('\w{0,}', a)
print m.group(0)

m  = re.match('\w*', a) # {0, } => *
print m.group(0)

m  = re.match('\w{1,}', a) 
print m.group(0)

m  = re.match('\w+', a) # {1, } => +
print m.group(0)

apple
apple
apple
apple
apple

In [93]:
phone = ['0912345678', '0912-345-678', '0912-345678', '091234567812301382908128302193802913']
import re
for p in phone:
    m = re.match('09\d+', p)
    print m.group(0)

0912345678
0912
0912
091234567812301382908128302193802913

In [94]:
phone = ['0912345678', '0912-345-678', '0912-345678', '091234567812301382908128302193802913']
import re
for p in phone:
    m = re.match('09\d{2}-{0,1}\d{3}-{0,1}\d{3}', p) # {0,1} => ?
    print m.group(0)

0912345678
0912-345-678
0912-345678
0912345678

In [95]:
phone = ['0912345678', '0912-345-678', '0912-345678', '091234567812301382908128302193802913']
import re
for p in phone:
    m = re.match('09\d{2}-?\d{3}-?\d{3}', p) # {0,1} => ?
    print m.group(0)

0912345678
0912-345-678
0912-345678
0912345678

In [97]:
phone = ['0912345678', '0912-345-678', '0912-345678', '091234567812301382908128302193802913']
import re
for p in phone:
    m = re.match('^09\d{2}-?\d{3}-?\d{3}$', p) # ^ match initial, $ match end
    if m:
        print m.group(0)

0912345678
0912-345-678
0912-345678

In [74]:
import requests
from bs4 import BeautifulSoup as bs
res = requests.get('http://www.appledaily.com.tw/realtimenews/section/new/', proxies=proxies)
soup = bs(res.text)
domain = 'http://www.appledaily.com.tw/'
#print soup.select('a')
print len(soup.select('li.rtddt'))
for li in soup.select('li.rtddt'):
    print "==================="
    #print li
    print li.select('h1')[0].text, \
          li.select('time')[0].text, \
          li.select('h2')[0].text, \
          domain + li.select('a')[0]['href']

32
===================
【雙全會】談美豬　林全：談判前不應公開底...(0) 11:28 政治 http://www.appledaily.com.tw//realtimenews/article/politics/20160505/853672/【雙全會】談美豬　林全：談判前不應公開底線
===================
【民報】全球央行小心！匿名者揚言攻擊 希...(0) 11:27 財經 http://www.appledaily.com.tw//realtimenews/article/finance/20160505/853630/【民報】全球央行小心！匿名者揚言攻擊希臘已中招
===================
【雙全會】蘇嘉全：林全內閣沒有蜜月期(0) 11:27 政治 http://www.appledaily.com.tw//realtimenews/article/politics/20160505/853665/【雙全會】蘇嘉全：林全內閣沒有蜜月期
===================


【特企】靠它！銀髮一族享受活力趴趴走 (1318)

11:27 特企 http://www.appledaily.com.tw/http://www.appledaily.com.tw/realtimenews/article/entertainment/20160505/853147/
===================
【央廣RTI】美印聯合反潛促同盟？學者：...(0) 11:25 國際 http://www.appledaily.com.tw//realtimenews/article/international/20160505/853670/【央廣RTI】美印聯合反潛促同盟？學者：恐非易事
===================
弱女子當關　擋300新納粹份子示威(0) 11:25 國際 http://www.appledaily.com.tw//realtimenews/article/international/20160505/853600/弱女子當關　擋300新納粹份子示威
===================
全球大學排名連3降　台大：國家競爭力下滑...(0) 11:24 生活 http://www.appledaily.com.tw//realtimenews/article/life/20160505/853645/全球大學排名連3降　台大：國家競爭力下滑的警訊
===================
明年經典賽韓國舉辦？　棒協：5月中旬才確...(75) 11:22 體育 http://www.appledaily.com.tw//realtimenews/article/sports/20160505/853671/明年經典賽韓國舉辦？　棒協：5月中旬才確定
===================
【民報游惠玲專欄】炒米粉，不炒！不吵！(28) 11:20 生活 http://www.appledaily.com.tw//realtimenews/article/life/20160505/853663/【民報游惠玲專欄】炒米粉，不炒！不吵！
===================
【更新】任內最後一次備詢　吳思華語錄在此...(706) 11:18 生活 http://www.appledaily.com.tw//realtimenews/article/life/20160505/853619/【更新】任內最後一次備詢　吳思華語錄在此！
===================
【更新】撤回課綱微調？　教育部長推給課審...(905) 11:15 生活 http://www.appledaily.com.tw//realtimenews/article/life/20160505/853570/【更新】撤回課綱微調？　教育部長推給課審會
===================
鵝媽媽的逆襲！　攻擊女童照片瘋傳(865) 11:15 國際 http://www.appledaily.com.tw//realtimenews/article/international/20160505/853637/鵝媽媽的逆襲！　攻擊女童照片瘋傳
===================
【央廣RTI】歐盟重返利比亞   馬爾他...(18) 11:15 國際 http://www.appledaily.com.tw//realtimenews/article/international/20160505/853658/【央廣RTI】歐盟重返利比亞馬爾他率先表態
===================
Apple Music被續約  去官網討...(302) 11:14 3C http://www.appledaily.com.tw//realtimenews/article/3c/20160505/853659/AppleMusic被續約去官網討錢
===================
台大醫院電腦當機　11時修復(123) 11:14 生活 http://www.appledaily.com.tw//realtimenews/article/life/20160505/853666/台大醫院電腦當機　11時修復
===================


【特企】明杰現場飆高音 易恩獨演被吐槽 (1661)

11:14 特企 http://www.appledaily.com.tw/http://www.appledaily.com.tw/realtimenews/article/entertainment/20160505/853209/
===================
涉賭裁判爆料　100%的NBA裁判有在賭...(79) 11:13 體育 http://www.appledaily.com.tw//realtimenews/article/sports/20160505/853669/涉賭裁判爆料　100的NBA裁判有在賭
===================
逆向女騎士也有優先路權？　鄉民熱議(1483) 11:12 社會 http://www.appledaily.com.tw//realtimenews/article/local/20160505/853638/逆向女騎士也有優先路權？　鄉民熱議
===================
全球排名台大又下滑　吳思華：投資高教是必...(6) 11:12 生活 http://www.appledaily.com.tw//realtimenews/article/life/20160505/853661/全球排名台大又下滑　吳思華：投資高教是必要作為
===================
新內閣最快23日備詢　陳學聖首邀鄭麗君報...(619) 11:09 政治 http://www.appledaily.com.tw//realtimenews/article/politics/20160505/853651/新內閣最快23日備詢　陳學聖首邀鄭麗君報告
===================
夏普考慮空降社長　伊藤嘉明將出線？(685) 11:09 財經 http://www.appledaily.com.tw//realtimenews/article/finance/20160505/853653/夏普考慮空降社長　伊藤嘉明將出線？
===================
陳柏霖宋智孝甜蜜婚！她揭密「這才是真相」(1603) 11:07 生活 http://www.appledaily.com.tw//realtimenews/article/life/20160505/853656/陳柏霖宋智孝甜蜜婚！她揭密「這才是真相」
===================
法務部下周再赴中　協商馬國詐騙案32台人(280) 11:06 社會 http://www.appledaily.com.tw//realtimenews/article/local/20160505/853628/法務部下周再赴中　協商馬國詐騙案32台人
===================
挺絕食抗議警察暴力　藝術家警局外獻劇《你...(189) 11:05 國際 http://www.appledaily.com.tw//realtimenews/article/international/20160505/853649/挺絕食抗議警察暴力　藝術家警局外獻劇《你快哭了》
===================
【央廣RTI】川普將獲提名  共和黨不改...(207) 11:05 國際 http://www.appledaily.com.tw//realtimenews/article/international/20160505/853652/【央廣RTI】川普將獲提名共和黨不改反大法官提名立場
===================
【網路溫度計】解婕翎曝電玩癖好 最愛恐怖...(270) 11:04 娛樂 http://www.appledaily.com.tw//realtimenews/article/entertainment/20160505/853655/【網路溫度計】解婕翎曝電玩癖好最愛恐怖遊戲、閃電狼
===================
公車改採里程計費等於漲價？北市府澄清：未...(2) 11:03 生活 http://www.appledaily.com.tw//realtimenews/article/life/20160505/853654/公車改採里程計費等於漲價？北市府澄清：未定案
===================
【雙全會】林全拜會蘇嘉全　兩人閉門會談1...(1161) 11:02 政治 http://www.appledaily.com.tw//realtimenews/article/politics/20160505/853595/【雙全會】林全拜會蘇嘉全　兩人閉門會談1小時
===================
台人跨國詐欺未爆彈　羅瑩雪：還有10幾個...(12866) 11:02 社會 http://www.appledaily.com.tw//realtimenews/article/local/20160505/853635/台人跨國詐欺未爆彈　羅瑩雪：還有10幾個國家
===================
美國國家科學院公佈新院士　5華裔入選(623) 11:02 國際 http://www.appledaily.com.tw//realtimenews/article/international/20160505/853650/美國國家科學院公佈新院士　5華裔入選
===================
男連夜開200公里返家　開到睡著撞電桿(1476) 11:01 社會 http://www.appledaily.com.tw//realtimenews/article/local/20160505/853641/男連夜開200公里返家　開到睡著撞電桿
===================
驚呆！美魔女劉曉慶撞玻璃　整臉粉底竟留門...(3796) 11:00 娛樂 http://www.appledaily.com.tw//realtimenews/article/entertainment/20160505/853610/驚呆！美魔女劉曉慶撞玻璃　整臉粉底竟留門上

In [99]:
import re
emails = ['david@largitdata.com', 'hihi qoo', 'yoyo@gmail.com']
for email in emails:
    m = re.match('.+@.+' , email)
    if m:
        print m.group(0)

david@largitdata.com
yoyo@gmail.com

In [100]:
import re
emails = ['david@largitdata.com', 'hihi qoo', 'yoyo@gmail.com']
for email in emails:
    m = re.match('(.+)@(.+)' , email)
    if m:
        print m.group(0)
        print m.group(1)
        print m.group(2)

david@largitdata.com
david
largitdata.com
yoyo@gmail.com
yoyo
gmail.com

In [101]:
import re
s = '【更新】任內最後一次備詢　吳思華語錄在此...(706)'
m = re.match('(.+)\((\d+)\)', s) # . match anything (include \d, \w)
print m.group(0) # s
print m.group(1) # (.+)
print m.group(2) # (\d+)

【更新】任內最後一次備詢　吳思華語錄在此...(706)
【更新】任內最後一次備詢　吳思華語錄在此...
706

In [111]:
import re
s = '【更新】任內最後一次備詢　吳思華語錄在此...(706)'
m = re.match('【(.+)】(.+)\((\d+)\)', s) # . match anything (include \d, \w)
print m.group(0) # s
print m.group(1) # (.+)
print m.group(2) # (.+)
print m.group(3) # (\d+)

【更新】任內最後一次備詢　吳思華語錄在此...(706)
更新
任內最後一次備詢　吳思華語錄在此...
706

In [106]:
import requests
from bs4 import BeautifulSoup as bs
import re

res = requests.get('http://www.appledaily.com.tw/realtimenews/section/new/', proxies=proxies)
soup = bs(res.text)
for li in soup.select('li.rtddt'):
    title = li.select('h1')[0].text
    m = re.match('(.+)\((\d+)\)', title)
    if m:
        #print type(m.group(2))
        print m.group(1), int(m.group(2)) + 1000

認了先知封號？炎亞綸「只想給各位一點啟發... 1000
【有片】離譜父母醉上路　辱警還把2月兒當... 1000
【央廣RTI】憂茲卡病毒  高球名將相繼... 1000
【有片】台鐵埔心火車站火警　可先上車後補... 10938
【有片】沒過氣！黎明直播開唱　13小時1... 1000
扮女大鵰男又來了　持毒遭逮ㄋㄞ警「別害我... 1000
​找特力屋刷漆　枯等兩月工人半天落跑 1000
【去年已備戰？】宏達電VR獨立～雪紅姨玩... 5712
支持川普？前總統布希父子都拒絕 1068
蔡清祥接任調查局長？　童振源：並無此事 1046
【有片】台大醫院電腦當機　門診、藥局大塞... 1185
【雙全會】被問優先法案　林全：考倒我了 1044
​【遠見】陸客少了三成，30萬旅遊業者一... 1101
【公督盟】國會透明化，人民做頭家！ 1000
【有片】看中職「小聲點」　新莊棒球場要納... 5091
【有片】今高溫飆34℃　大台北、宜花防午... 19669
球夾卡在手套咋辦？　燒餅夾蛋快傳一壘 1053
控夫載女網友上摩鐵　沒扣衛生紙告不成 1631
桌球最新世界排名出爐　臺灣取得奧運單打、... 1248
【影片】訓練機降落意外　台東機場一度關閉 4560
安捷飛機降落台東機場重落地　影響3班機逾... 1422
大創亂象有如好市多？　「幾乎都是台灣人」 20781
【雙全會】談美豬　林全：談判前不應公開底... 1641
外交部：教廷派駐日大使參加520就職典禮 1264
海研一號到沖繩近海調查遭日方刁難　科技部... 1015
他寫給小英一封信　點出體育問題在這！ 2021
【有片】北韓睽違36年　勞動黨大會活動搶... 2378
新內閣23日備詢　林錫耀拜託手下留情 1453
【雙全會】蘇嘉全：林全內閣沒有蜜月期 1414
【有片】急速高空的愛情　男女公路天橋上翻... 2072

In [113]:
a = '123'
b = '456'
print a
print b
print a,b

123
456
123 456

In [108]:
import requests
from bs4 import BeautifulSoup as bs
import re
res = requests.get('http://www.appledaily.com.tw/realtimenews/section/new/', proxies=proxies)
soup = bs(res.text)
domain = 'http://www.appledaily.com.tw/'

for li in soup.select('li.rtddt'):
    h1 = li.select('h1')[0].text
    time  = li.select('time')[0].text
    category = li.select('h2')[0].text
    link = domain + li.select('a')[0]['href']
    m = re.match('(.+)\((\d+)\)', h1)
    if m:
        title =  m.group(1)
        view_cnt = int(m.group(2))
        print title, view_cnt, time, category, link

法籍男鬧事被遣返　大鬧客艙拒離台 0 11:58 社會 http://www.appledaily.com.tw//realtimenews/article/local/20160505/853699/法籍男鬧事被遣返　大鬧客艙拒離台
認了先知封號？炎亞綸「只想給各位一點啟發... 0 11:56 娛樂 http://www.appledaily.com.tw//realtimenews/article/entertainment/20160505/853705/認了先知封號？炎亞綸「只想給各位一點啟發」
【有片】離譜父母醉上路　辱警還把2月兒當... 0 11:55 社會 http://www.appledaily.com.tw//realtimenews/article/local/20160505/853643/【有片】離譜父母醉上路　辱警還把2月兒當擋箭牌
【央廣RTI】憂茲卡病毒  高球名將相繼... 0 11:55 國際 http://www.appledaily.com.tw//realtimenews/article/international/20160505/853697/【央廣RTI】憂茲卡病毒高球名將相繼退出里約奧運
【央廣RTI】迎接母親節  台鐵新推2款... 0 11:55 生活 http://www.appledaily.com.tw//realtimenews/article/life/20160505/853702/【央廣RTI】迎接母親節台鐵新推2款幸福養生便當
夏天來了　恆春、台南均創今年來新高溫紀錄 0 11:55 生活 http://www.appledaily.com.tw//realtimenews/article/life/20160505/853703/夏天來了　恆春、台南均創今年來新高溫紀錄
【有片】台鐵埔心火車站火警　可先上車後補... 9938 11:54 社會 http://www.appledaily.com.tw//realtimenews/article/local/20160505/853481/【有片】台鐵埔心火車站火警　可先上車後補票
【有片】沒過氣！黎明直播開唱　13小時1... 12 11:53 娛樂 http://www.appledaily.com.tw//realtimenews/article/entertainment/20160505/853684/【有片】沒過氣！黎明直播開唱　13小時121萬人次收看
扮女大鵰男又來了　持毒遭逮ㄋㄞ警「別害我... 119 11:53 社會 http://www.appledaily.com.tw//realtimenews/article/local/20160505/853686/扮女大鵰男又來了　持毒遭逮ㄋㄞ警「別害我」
​找特力屋刷漆　枯等兩月工人半天落跑 170 11:53 社會 http://www.appledaily.com.tw//realtimenews/article/local/20160505/853689/​找特力屋刷漆　枯等兩月工人半天落跑
【去年已備戰？】宏達電VR獨立～雪紅姨玩... 4712 11:51 財經 http://www.appledaily.com.tw//realtimenews/article/finance/20160505/853522/【去年已備戰？】宏達電VR獨立～雪紅姨玩真的
支持川普？前總統布希父子都拒絕 68 11:50 國際 http://www.appledaily.com.tw//realtimenews/article/international/20160505/853678/支持川普？前總統布希父子都拒絕
蔡清祥接任調查局長？　童振源：並無此事 46 11:50 政治 http://www.appledaily.com.tw//realtimenews/article/politics/20160505/853701/蔡清祥接任調查局長？　童振源：並無此事
【有片】台大醫院電腦當機　門診、藥局大塞... 185 11:47 生活 http://www.appledaily.com.tw//realtimenews/article/life/20160505/853690/【有片】台大醫院電腦當機　門診、藥局大塞車
【雙全會】被問優先法案　林全：考倒我了 294 11:47 政治 http://www.appledaily.com.tw//realtimenews/article/politics/20160505/853695/【雙全會】被問優先法案　林全：考倒我了
​【遠見】陸客少了三成，30萬旅遊業者一... 1137 11:47 政治 http://www.appledaily.com.tw//realtimenews/article/politics/20160505/853700/​【遠見】陸客少了三成，30萬旅遊業者一招斃命？
【公督盟】國會透明化，人民做頭家！ 0 11:47 政治 http://www.appledaily.com.tw//realtimenews/article/politics/20160505/853704/【公督盟】國會透明化，人民做頭家！
【有片】看中職「小聲點」　新莊棒球場要納... 4091 11:46 生活 http://www.appledaily.com.tw//realtimenews/article/life/20160505/853528/【有片】看中職「小聲點」　新莊棒球場要納管
【有片】今高溫飆34℃　大台北、宜花防午... 18669 11:45 生活 http://www.appledaily.com.tw//realtimenews/article/life/20160505/853492/【有片】今高溫飆34℃　大台北、宜花防午後雷雨
球夾卡在手套咋辦？　燒餅夾蛋快傳一壘 53 11:45 體育 http://www.appledaily.com.tw//realtimenews/article/sports/20160505/853698/球夾卡在手套咋辦？　燒餅夾蛋快傳一壘
控夫載女網友上摩鐵　沒扣衛生紙告不成 924 11:44 社會 http://www.appledaily.com.tw//realtimenews/article/local/20160505/853685/控夫載女網友上摩鐵　沒扣衛生紙告不成
桌球最新世界排名出爐　臺灣取得奧運單打、... 248 11:43 體育 http://www.appledaily.com.tw//realtimenews/article/sports/20160505/853696/桌球最新世界排名出爐　臺灣取得奧運單打、團體滿額
【影片】訓練機降落意外　台東機場一度關閉 3741 11:42 社會 http://www.appledaily.com.tw//realtimenews/article/local/20160505/853642/【影片】訓練機降落意外　台東機場一度關閉
安捷飛機降落台東機場重落地　影響3班機逾... 588 11:42 生活 http://www.appledaily.com.tw//realtimenews/article/life/20160505/853675/安捷飛機降落台東機場重落地　影響3班機逾百旅客
大創亂象有如好市多？　「幾乎都是台灣人」 19781 11:41 社會 http://www.appledaily.com.tw//realtimenews/article/local/20160505/853580/大創亂象有如好市多？　「幾乎都是台灣人」
【雙全會】談美豬　林全：談判前不應公開底... 699 11:41 政治 http://www.appledaily.com.tw//realtimenews/article/politics/20160505/853672/【雙全會】談美豬　林全：談判前不應公開底線
外交部：教廷派駐日大使參加520就職典禮 264 11:40 政治 http://www.appledaily.com.tw//realtimenews/article/politics/20160505/853680/外交部：教廷派駐日大使參加520就職典禮
海研一號到沖繩近海調查遭日方刁難　科技部... 148 11:40 生活 http://www.appledaily.com.tw//realtimenews/article/life/20160505/853688/海研一號到沖繩近海調查遭日方刁難　科技部：是常態
他寫給小英一封信　點出體育問題在這！ 1021 11:37 體育 http://www.appledaily.com.tw//realtimenews/article/sports/20160505/853687/他寫給小英一封信　點出體育問題在這！
【有片】北韓睽違36年　勞動黨大會活動搶... 1417 11:35 國際 http://www.appledaily.com.tw//realtimenews/article/international/20160505/853546/【有片】北韓睽違36年　勞動黨大會活動搶先看

## DataFrame

In [116]:
name = 'david'
age = 32

name2 = 'John'
age = 30

names = ['david', 'John']
ages = [32, 30]

for idx, name in enumerate(names):
    if name == 'david':
        #print idx
        print ages[idx]

32

In [125]:
import pandas
df = pandas.DataFrame([{'name':'david', 'age':32}, {'name':'john', 'age':30}])
df

   age   name
0   32  david
1   30   john

In [126]:
# by column name
print df['name']
print df['age']

0    david
1     john
Name: name, dtype: object
0    32
1    30
Name: age, dtype: int64

In [127]:
# by index number
print df.ix[0]

age        32
name    david
Name: 0, dtype: object

In [128]:
df['age'].describe()

count     2.000000
mean     31.000000
std       1.414214
min      30.000000
25%      30.500000
50%      31.000000
75%      31.500000
max      32.000000
Name: age, dtype: float64

In [136]:
import requests
from bs4 import BeautifulSoup as bs
import re

res = requests.get('http://www.appledaily.com.tw/realtimenews/section/new/', proxies=proxies)
soup = bs(res.text)
domain = 'http://www.appledaily.com.tw'

# create news list
news = []

for li in soup.select('li.rtddt'):
    h1 = li.select('h1')[0].text
    time  = li.select('time')[0].text
    category = li.select('h2')[0].text
    link = domain + li.select('a')[0]['href']
    m = re.match('(.+)\((\d+)\)', h1)
    if m:
        title =  m.group(1)
        view_cnt = int(m.group(2))
        
        # append dictionary into the list of news
        news.append({'title':title, 'view_cnt':view_cnt, \
                     'time':time, 'category':category, 'link':link})

In [137]:
print len(news)
print news[0]
print news[1]['title']

30
{'category': u'\u5a1b\u6a02', 'view_cnt': 0, 'link': u'http://www.appledaily.com.tw/realtimenews/article/entertainment/20160505/853789/\u524d\u5076\u50cf\u8f49\u8077AV\u5973\u512a\u5766F\u5976\u3000\u6a6b\u6383AV\u5967\u65af\u53614\u734e', 'time': u'14:00', 'title': u'\u524d\u5076\u50cf\u8f49\u8077AV\u5973\u512a\u5766F\u5976\u3000\u6a6b\u6383AV\u5967\u65af\u5361...'}
【央廣RTI】川普將募10億美元逐鹿白宮

In [139]:
import pandas as pd
df = pd.DataFrame(news)
#df
df.head()

,category,link,time,title,view_cnt
0,娛樂,http://www.appledaily.com.tw/realtimenews/arti...,14:00,前偶像轉職AV女優坦F奶 橫掃AV奧斯卡...,0
1,國際,http://www.appledaily.com.tw/realtimenews/arti...,14:00,【央廣RTI】川普將募10億美元逐鹿白宮,0
2,財經,http://www.appledaily.com.tw/realtimenews/arti...,14:00,【今周刊】投資高手的第一堂課,0
3,生活,http://www.appledaily.com.tw/realtimenews/arti...,13:57,【更新】台日船艦在沖之鳥礁對峙 外交部盼...,991
4,財經,http://www.appledaily.com.tw/realtimenews/arti...,13:56,中國強力扶植IC設計業 期掌握市場規則,37

In [140]:
df['view_cnt'].describe()

count       30.000000
mean      3057.033333
std       7114.051498
min          0.000000
25%        215.250000
50%        523.500000
75%       2389.000000
max      36933.000000
Name: view_cnt, dtype: float64

## Create Function

In [141]:
def a(a = 1,  b = 2):
    return a + b

print a(2,2)
print a()

4
3

In [143]:
name ='david'
age = '32'
print "Hi my name is " + name + ' and my age is ' + age + " years'old"
print "Hi my name is {} and my age is {} years'old".format(name, age)

Hi my name is david and my age is 32 years'old
Hi my name is david and my age is 32 years'old

In [144]:
import requests
from bs4 import BeautifulSoup as bs
import re
domain = 'http://www.appledaily.com.tw'

In [145]:
def getPageNews(page = 1):
    news = []
    pageurl = 'http://www.appledaily.com.tw/realtimenews/section/new/{}'
    res = requests.get(pageurl.format(page), proxies=proxies)
    soup = bs(res.text)

    for li in soup.select('li.rtddt'):
        h1 = li.select('h1')[0].text
        time  = li.select('time')[0].text
        category = li.select('h2')[0].text
        link = domain + li.select('a')[0]['href']
        m = re.match('(.+)\((\d+)\)', h1)
        if m:
            title =  m.group(1)
            view_cnt = int(m.group(2))
            news.append({'title':title, 'view_cnt':view_cnt, \
                         'time':time, 'category':category, 'link':link})
    return news

In [149]:
a = [1,2,3]
b = [2,3,4]
a.extend(b)
print a

[1, 2, 3, 2, 3, 4]

In [151]:
for i in xrange(1,11): # for(int i = 0 ; i < 11; i++)
    print i

1
2
3
4
5
6
7
8
9
10

In [154]:
newsall = []
for i in xrange(1,51): # for(int i = 0 ; i < 51; i++)
    newsall.extend(getPageNews(i))
    print i,

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [181]:
import pandas as pd
newspd = pd.DataFrame(newsall)
newspd.count()

category    1500
link        1500
time        1500
title       1500
view_cnt    1500
dtype: int64

In [183]:
newspd.sort_values(by=['view_cnt'],ascending=False).head()

,category,link,time,title,view_cnt
894,生活,http://www.appledaily.com.tw/realtimenews/arti...,13:07,台灣電腦天才抓到臉書漏洞 FB給3萬台幣...,554395
636,生活,http://www.appledaily.com.tw/realtimenews/arti...,18:13,阿祖留下的黑黑條狀物 讓他「發達了」,449267
199,社會,http://www.appledaily.com.tw/realtimenews/arti...,10:54,【更新】工程師悲歌！ 老婆帶2子自殺原因...,404069
937,搜奇,http://www.appledaily.com.tw/realtimenews/arti...,12:16,跟處女啪啪啪什麼感覺 結果一樓神回,358583
897,生活,http://www.appledaily.com.tw/realtimenews/arti...,13:03,27K傳產周休二日 雇主怒：半年找不到人,348963

In [186]:
df1=newspd.groupby(['category'],sort=False)['view_cnt'].max()
df1

category
社會    404069
財經     32904
生活    554395
3C    179503
娛樂    271053
國際     69164
地產     13231
體育    249432
時尚     14322
正妹    313127
政治    215821
搜奇    358583
論壇     23291
動物      6129
Name: view_cnt, dtype: int64

In [187]:
df1=newspd.groupby(['category'],sort=False)['view_cnt'].describe()
df1

category
社會        count       218.000000
          mean      27447.022936
          std       52561.378798
          min           0.000000
          25%        4450.000000
          50%        8093.000000
          75%       22573.500000
          max      404069.000000
財經        count       132.000000
          mean       3856.037879
          std        4799.872340
          min          30.000000
          25%        1251.750000
          50%        2379.000000
          75%        4425.750000
          max       32904.000000
生活        count       283.000000
          mean      16462.830389
          std       54628.646687
          min          23.000000
          25%        1374.000000
          50%        2745.000000
          75%        9766.500000
          max      554395.000000
3C        count        30.000000
          mean       9335.733333
          std       32387.134088
          min         348.000000
          25%        1382.500000
          50%        2548.000000
                       ...
政治        std       25717.662705
          min         256.000000
          25%        1985.000000
          50%        5164.000000
          75%       10623.500000
          max      215821.000000
搜奇        count        68.000000
          mean      16846.000000
          std       51660.353329
          min         515.000000
          25%        2081.250000
          50%        3033.500000
          75%        5395.250000
          max      358583.000000
論壇        count        48.000000
          mean       3718.520833
          std        3687.144198
          min         471.000000
          25%        1617.750000
          50%        2848.000000
          75%        4315.250000
          max       23291.000000
動物        count        23.000000
          mean       3709.130435
          std        1028.297813
          min        2048.000000
          25%        3014.500000
          50%        3721.000000
          75%        4379.500000
          max        6129.000000
dtype: float64

In [190]:
df1=newspd.groupby(['category'],sort=False)['view_cnt'].mean()
df1

category
社會    27447.022936
財經     3856.037879
生活    16462.830389
3C     9335.733333
娛樂    26916.477273
國際     5083.070423
地產     2890.173913
體育    17663.670000
時尚     5468.346154
正妹    63610.785714
政治    12175.075630
搜奇    16846.000000
論壇     3718.520833
動物     3709.130435
Name: view_cnt, dtype: float64

In [195]:
idx = newspd.groupby(['category'])['view_cnt'].transform(max) == newspd['view_cnt']
#print newspd[idx]
print newspd[idx][['category', 'title', 'view_cnt']]

     category                    title  view_cnt
199        社會  【更新】工程師悲歌！　老婆帶2子自殺原因...    404069
560        地產             建商落難　3建案淪法拍屋     13231
715        3C      【更新】iPhone按3下　幫忙顧眼睛    179503
834        正妹      自然課老師長這麼正　網友都想重念國小了    313127
894        生活  台灣電腦天才抓到臉書漏洞　FB給3萬台幣...    554395
901        財經  hTC 10　64G拿到天馬屏　網友心碎...     32904
911        娛樂  【有片】男星猝逝前露端倪　每天這樣吃竟成...    271053
937        搜奇        跟處女啪啪啪什麼感覺　結果一樓神回    358583
938        體育        【影片】王建民本季首勝　影片看這邊    249432
991        政治  呂秀蓮：我花1933天坐黑牢　蔡總統輕鬆...    215821
1095       時尚          富家女什麼都露　可她穿長袖耶！     14322
1224       動物             喵喵貼心舉動　融化所有人      6129
1245       論壇              讓性別平等倒退的女總統     23291
1397       國際  台男出國偷拍比基尼女私密處　被要求刪照卻...     69164

## install html5lib
- https://pypi.python.org/packages/ae/ae/bcb60402c60932b32dfaf19bb53870b29eda2cd17551ba5639219fb5ebf9/html5lib-0.9999999.tar.gz
- pip install html5lib-0.9999999.tar.gz

In [21]:
# pip install html5lib
import pandas as pd
import requests
import json
res  = requests.get('http://www.tpex.org.tw/storage/emgstk/emgstk.txt?_=1462431891367', proxies = proxies)
res.encoding = 'utf-8'

jd = json.loads(res.text)
df = pd.DataFrame(jd['aaData'])
df

,0,1,10,11,12,13,14,15,2,3,4,5,6,7,8,9
0,1260,富味鄉,26.35,S,30000,-,-,1260,26.86,25.66,3000,27,6000,26.75,26.35,26.43
1,1268,漢美,171,S,500,-,-,1268,171,170,2000,174.48,2000,171,171,171
2,1563,巧新,142.41,B,691000,-,-,1563,141.73,141.94,2000,142.41,990,142.78,141.02,142.2
3,1585,鎧鉅,0,,0,-,-,1585,4.85,4.77,5000,5,5000,0,0,0
4,1587,吉茂,21.15,B,5000,-,-,1587,20.57,20.8,6000,21.89,6000,21.15,21.14,21.15
5,1594,日高,0,,0,-,-,1594,13,12.9,5000,13.49,10000,0,0,0
6,1598,岱宇,0,,0,20160429,a,1598,45.64,45.5,3000,46.3,3000,0,0,0
7,1760,寶齡,133.49,B,66906,-,-,1760,133.36,132.59,2000,133.49,2000,135.92,132.02,133.11
8,1776,展宇,29.8,S,19000,20160226,e,1776,31,29.7,8000,31.05,3000,31.2,29.8,30.7
9,1780,立弘,16.99,S,89300,-,-,1780,17.06,16.99,3000,17.35,5000,17.35,16.76,16.95
10,1814,東光訊,15.8,B,20000,-,-,1814,15.52,15.66,5000,16,5000,15.8,15.75,15.77
11,1818,願景,0,,0,-,-,1818,14.51,13.79,20000,14.51,20000,0,0,0
12,1819,豐鼎,0,,0,-,-,1819,13.7,13.54,10000,13.7,10000,0,0,0
13,2065,世豐,0,,0,-,-,2065,31.2,30.11,3000,31.2,3000,0,0,0
14,2070,精湛,73.5,S,2000,-,-,2070,73.86,73.01,3000,74.99,3000,74,73.5,73.75
15,2237,華德動,21.39,B,3000,-,-,2237,21.04,20.69,5000,21.3,8000,21.39,21.39,21.39
16,2241,艾姆勒,77.79,S,217210,-,-,2241,77.98,77.78,5000,78.49,5000,78.15,77.02,77.71
17,2599,樂揚,14.33,B,20,-,-,2599,13.86,13.67,5000,14.33,9980,14.33,14.33,14.33
18,2633,高鐵,15.1,B,3200552,-,-,2633,15.33,15.06,5000,15.11,20000,15.3,14.93,15.04
19,2720,和昇,17.1,B,39900,-,-,2720,16.81,16.36,5099,17.09,5099,17.19,16.58,16.81
20,2721,F-楷捷,13,S,29500,-,-,2721,13.41,12.95,10120,13.05,5000,13.05,13,13.01
21,2730,美麗信,8.21,B,12001,-,-,2730,8.17,8.17,10100,8.23,5000,8.21,8.17,8.18
22,2733,維格,57.78,B,15000,-,-,2733,58.4,57.02,3000,57.78,2000,57.79,57.03,57.47
23,2738,F-MHG,26.5,S,42500,-,-,2738,27.09,25.88,3000,27,3000,27.89,26.5,27.19
24,2739,寒舍,59.49,B,79600,20160316,e,2739,59.19,58.81,8000,59.49,5000,59.99,58.51,59.55
25,2741,老四川,0,,0,-,-,2741,85.99,85,3000,87,3000,0,0,0
26,2743,山富,26.66,S,4000,-,-,2743,26.76,26.65,2000,27.49,3000,26.66,26.65,26.66
27,2745,五福,0,,0,-,-,2745,62.49,59.71,3000,62.49,5000,0,0,0
28,2748,雲品,0,,0,-,-,2748,68.2,65.75,3000,68.3,3000,0,0,0
29,2897,臺工銀,7.7,S,65349,-,-,2897,7.81,7.67,5000,7.73,10000,7.86,7.7,7.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,8127,利汎,6,S,6000,-,-,8127,5.95,6,4000,6.25,5000,6.2,6,6.17
258,8179,旭德,0,,0,-,-,8179,7.17,7.08,10000,7.26,5000,0,0,0
259,8197,研能,0,,0,-,-,8197,8.6,8.38,5000,8.63,5000,0,0,0
260,8279,生展,57.54,S,24600,20160426,A,8279,58.02,57.54,3000,58.15,3000,58.15,57.11,57.92
261,8281,歐普羅,29.57,B,79003,-,-,8281,28.58,28.8,3000,29.57,2998,29.57,28.46,28.86
262,8284,三竹,35.74,B,16000,-,-,8284,35.5,35.61,3000,35.75,3000,35.74,35.5,35.67
263,8325,中廣,12.63,B,4,-,-,8325,12.11,12,10000,12.63,9996,12.63,12.63,12.63
264,8329,台視,0,,0,-,-,8329,9.61,9.4,5000,9.83,5000,0,0,0
265,8351,新東亞,11.45,S,47088,-,-,8351,11.19,11.25,5000,11.52,11000,11.51,11.2,11.36
266,8359,錢櫃,56.29,B,50,-,-,8359,56.14,55.33,3000,56.29,2950,56.29,56.29,56.29
267,8415,大國鋼,15.12,S,9500,20160421,A,8415,15.24,15.12,1000,15.79,5000,15.3,15.12,15.22
268,8438,昶昕,22.99,S,49000,-,-,8438,24.1,22.9,3000,23.09,3000,24.15,22.99,23.93
269,8440,綠電,12.4,S,2400,-,-,8440,12.37,12.3,4600,12.48,4000,12.48,12.3,12.42
270,8458,影一,34.65,B,21000,-,-,8458,34.86,33.53,3000,35,3000,34.65,34.01,34.49
271,8465,德河,12.6,B,6010,-,-,8465,12.6,12.02,5000,12.61,5000,12.6,12.55,12.59
272,8473,山林水,57.46,B,20000,20160330,a,8473,57.32,57.02,3151,57.46,1151,57.46,57,57.16
273,8476,台境,51.5,S,15050,-,-,8476,51.52,51.35,3000,52,3000,51.88,51.3,51.65
274,8477,創業家,96,B,1999,-,-,8477,95.66,95.01,3000,99.79,3000,96,95.66,95.83
275,8478,東哥,212.5,B,1000,-,-,8478,210,203,2000,212.49,2000,212.5,212.5,212.5
276,8481,政伸,61.01,S,35397,-,-,8481,63.92,60.7,6000,63.26,6000,63.99,61.01,63.23
277,8485,信吉媒,0,,0,-,-,8485,196.57,192,2000,200,4200,0,0,0
278,8487,愛爾達,62.9,S,22000,-,-,8487,61.15,61.1,3000,63.2,3000,63.3,61.6,62.64
279,8489,三貝德,131.48,B,4000,-,-,8489,129.84,129,2000,131.48,1000,131.48,129,130.24
280,8490,利得,28.99,B,3000,-,-,8490,28.04,28.01,3000,29,3000,28.99,28.99,28.99
281,8491,真好玩,60.1,B,18000,-,-,8491,62.22,58.5,3000,60.5,6000,61.5,59.14,60.16
282,8496,台霖,25.5,S,3000,-,-,8496,25.96,25.01,3005,26.3,3005,25.81,25.5,25.6
283,9957,燁聯,7.01,B,73000,-,-,9957,6.98,6.97,10000,7.01,13000,7.01,6.96,6.98
284,3637,鉅景,,,,-,20160412~,3637,,,,,,,,
285,5541,廣朋,,,,-,20160421~,5541,,,,,,,,
286,6437,永箔,,,,-,20160422~,6437,,,,,,,,

In [ ]:
pd.set_option('display.max_rows', 500)

In [6]:
import requests
proxies = {
  'http': 'http://proxy.cht.com.tw:8080',
  'https': 'http://proxy.cht.com.tw:8080',
}
res = requests.get('http://www.twse.com.tw/ch/trading/exchange/STOCK_DAY/genpage/Report201603/201603_F3_1_8_2330.php?STK_NO=2330&myear=2016&mmon=03', proxies = proxies)
res.encoding = 'big5'

In [8]:
import pandas as pd
dfs = pd.read_html(res.text)
df = dfs[6]

In [17]:
df.columns = df.iloc[1]
df = df.reindex(df.index.drop([0,1]))
df.head()

1,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
2,105/03/01,44046047,6637110793,148.50,152.00,148.50,152.00,+3.00,12003
3,105/03/02,36101650,5548587572,154.00,154.50,153.00,153.00,+1.00,11075
4,105/03/03,28867121,4438187013,154.00,154.50,153.00,154.00,+1.00,10112
5,105/03/04,37794356,5763190355,153.00,153.50,151.50,152.50,-1.50,10724
6,105/03/07,24052580,3655841160,152.50,153.50,151.00,152.00,-0.50,7324

In [20]:
df.describe()
df['最高價'.decode('utf-8')]

2     152.00
3     154.50
4     154.50
5     153.50
6     153.50
7     152.00
8     153.00
9     154.50
10    155.00
11    157.50
12    156.50
13    156.00
14    160.00
15    159.50
16    160.00
17    159.50
18    159.50
19    159.00
20    159.00
21    159.00
22    159.50
23    162.00
24    163.00
Name: 最高價, dtype: object

## Count the pagenumber of appledaily

In [176]:
a = [1,2,3,4,1,2,3]
print set(a)
print 5 in set(a)
print 4 in set(a)
b = set(a)
b.add(5)
print b
print len(b.difference(a))

set([1, 2, 3, 4])
False
True
set([1, 2, 3, 4, 5])
1

In [169]:
s = '/realtimenews/section/new/7'
print int(s.split('/')[-1])

7

In [180]:

newspages = set()

page = 1
while True:
    domain = 'http://www.appledaily.com.tw'
    pageurl = domain + '/realtimenews/section/new/{}'
    res = requests.get(pageurl.format(page), proxies=proxies)
    soup = bs(res.text)
    pageset  = set()
    for link in soup.select('nav.page_switch a'):
        pageset.add(int(link['href'].split('/')[-1]))

    if len(pageset.difference(newspages)) == 0:
        break

    for item in pageset.difference(newspages):
        newspages.add(item)

    page = list(newspages)[-1]
print newspages

set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58])

## Get Full AppleDaily

In [27]:
import requests
from bs4 import BeautifulSoup as bs
url = 'http://www.appledaily.com.tw/realtimenews/article/international/20160505/853903/%E3%80%90%E5%A4%AE%E5%BB%A3RTI%E3%80%91%E9%81%8A%E5%8F%A4%E5%B7%B4%E6%AD%A3%E5%A4%AF%E7%BE%8E%E5%9C%8B%E4%BA%BA%E6%9A%B4%E5%A2%9E93'
res = requests.get(url, proxies = proxies)
soup = bs(res.text, 'html.parser')
#print soup.select('div.articulum.trans')[0].text
print soup.select('div.articulum.trans')[0].text.split('googletag')[0].strip()

本內容由中央廣播電臺提供        古巴政府4日表示，2016年1至4月到古巴旅遊的美國人比去年同期暴增93%。古巴旅遊部長馬雷羅(Manuel Marrero)在首都哈瓦那的國際旅遊展開幕式上表示，今年頭四個月，共有9萬4,000名美國人造訪古巴；而2015年全年，到古巴旅遊的美國人超過了16萬人次，與2014年相比增加了76%。根據古巴政府，2015年共有350萬人次全球旅客造訪古巴，年增率17%。       華府和哈瓦那於2014年12月作出歷史性宣布，雙方將恢復外交關係；在那之後，古巴政府接待了一批國際政要與名流，包括美國總統歐巴馬、羅馬天主教教宗方濟各(Francis)、英國老牌搖滾樂團滾石合唱團(the Rolling Stones)以及德國時尚設計師拉格斐(Karl Lagerfeld)。       過去一年多來，美國與古巴的關係快速升溫，但華府仍維持對哈瓦那的貿易與金融禁運，禁止美國公民前往古巴觀光；不過，歐巴馬放寬了相關限制，美國郵輪美麗號(Adonia)因而得以在2日抵達古巴，成為半個世紀以來首艘在古巴靠岸的美國郵輪。不過，美麗號提供給乘客的仍是文化交流活動，包括會見古巴藝術家、音樂家等。(繼續閱讀)

In [28]:
a = '                     dddd                   '
print a.strip()

dddd

In [1]:
import requests
from bs4 import BeautifulSoup as bs

def getPageContent(url):
    res = requests.get(url, proxies = proxies)
    soup = bs(res.text, 'html.parser')
    return soup.select('div.articulum.trans')[0].text.split('googletag')[0].strip()

In [2]:
import requests
from bs4 import BeautifulSoup as bs
import re
domain = 'http://www.appledaily.com.tw'

In [7]:
def getPageNews(page = 1):
    news = []
    pageurl = 'http://www.appledaily.com.tw/realtimenews/section/new/{}'
    res = requests.get(pageurl.format(page), proxies=proxies)
    soup = bs(res.text)

    for li in soup.select('li.rtddt'):
        h1 = li.select('h1')[0].text
        time  = li.select('time')[0].text
        category = li.select('h2')[0].text
        link = domain + li.select('a')[0]['href']
        m = re.match('(.+)\((\d+)\)', h1)
        if m:
            title =  m.group(1)
            view_cnt = int(m.group(2))
            news.append({'title':title, 'view_cnt':view_cnt, \
                         'time':time, 'category':category, 'link':link})
    return news

In [8]:
def getPageContent(url):
    res = requests.get(url, proxies = proxies)
    soup = bs(res.text, 'html.parser')
    return soup.select('div.articulum.trans')[0].text.split('googletag')[0].strip()

In [9]:
newsall = []
for i in xrange(1,3): # for(int i = 0 ; i < 51; i++)
    newsall.extend(getPageNews(i))
    print i,

C:\Anaconda2\lib\site-packages\bs4\__init__.py:166: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

To get rid of this warning, change this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

1 2

In [37]:
dic = {'a':1, 'b':2}
dic['c'] = 3
print dic

{'a': 1, 'c': 3, 'b': 2}

In [33]:
print newsall[0]
print newsall[0]['link']

{'category': u'\u751f\u6d3b', 'view_cnt': 0, 'link': u'http://www.appledaily.com.tw/realtimenews/article/life/20160505/853908/\u3010\u6c11\u5831\u66f8\u6458\u3011\u5730\u5716\u4e0a\u4e0d\u5b58\u5728\u7684\u570b\u5bb6', 'time': u'15:35', 'title': u'\u3010\u6c11\u5831\u66f8\u6458\u3011\u5730\u5716\u4e0a\u4e0d\u5b58\u5728\u7684\u570b\u5bb6'}
http://www.appledaily.com.tw/realtimenews/article/life/20160505/853908/【民報書摘】地圖上不存在的國家

In [10]:
for idx, news in enumerate(newsall):
    news['summary'] = getPageContent(news['link'])
    print idx,

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59

In [39]:
import pandas as pd
df = pd.DataFrame(newsall)
df.head()

,category,link,summary,time,title,view_cnt
0,生活,http://www.appledaily.com.tw/realtimenews/arti...,本內容由民報提供 (摘錄 全文請連結民報)民報書摘《地圖上不存在的國家》作者：尼克‧米德頓(...,15:35,【民報書摘】地圖上不存在的國家,0
1,社會,http://www.appledaily.com.tw/realtimenews/arti...,（更新：判決理由） 2012年發生的台南湯姆熊男童遭割喉命案，震驚全台，兇嫌曾文欽落網後曾嗆...,15:33,【更新】殺1、2人不會判死？ 割喉殺...,31324
2,生活,http://www.appledaily.com.tw/realtimenews/arti...,更新：新增影片 華為今在台發表最新旗艦機P9，主打拍照功能，手機搭載兩顆徠卡（Leica）光...,15:31,華為徠卡旗艦機 1萬7千元有找,476
3,娛樂,http://www.appledaily.com.tw/realtimenews/arti...,藝人哈孝遠巧遇懷秋與JJ，並揪他們下次有空一起去打球，懷秋表示興奮！不過JJ有點擔心地說：「...,15:30,哈孝遠相揪尬籃球 一句話竟然讓JJ硬了！,154
4,國際,http://www.appledaily.com.tw/realtimenews/arti...,本內容由中央廣播電臺提供 古巴政府4日表示，2016年1至4月到古巴旅遊的美國...,15:30,【央廣RTI】遊古巴正夯 美國人暴增9...,0

## insert into sqlite3

In [40]:
# -*-coding: utf-8 -*-
import sqlite3
db=sqlite3.connect('news.sqlite')
cur=db.cursor()
cur.execute('''DROP TABLE IF EXISTS news_entry''')
cur.execute('''CREATE TABLE IF NOT EXISTS news_entry
     (id INTEGER PRIMARY KEY,
      category TEXT,
      view_cnt INTEGER,
      time VARCHAR(32),
      title VARCHAR(256),
      summary TEXT,
      link VARCHAR(1024))''')
cur.close()

In [63]:
# -*-coding: utf-8 -*-
import sqlite3
db=sqlite3.connect('news.sqlite')
cur=db.cursor()
data = cur.execute('''select * from news_entry''')
for ele in  data:
    print ele
cur.close()

In [42]:
insert_stmt = "insert into tbl(c1, c2) values('v1', 'v2')"
prepare_stmt = "insert into tbl(c1, c2) values(?, ?)"

In [49]:
a = ['a', 'b', 'c', 'd', 'e']
print '!'.join(a)
print ','.join(a)

a!b!c!d!e
a,b,c,d,e

In [55]:
'?'
print '?' * 10
print ','.join('?' * 10)

??????????
?,?,?,?,?,?,?,?,?,?

In [58]:
#newsall[0].keys()
#newsall[0].values()

insert_stmt = 'insert into news_entry({}) values({})'
columns = ','.join(newsall[0].keys())
print columns
vals = ','.join(len(newsall[0].keys()) * '?')
print vals

stmt = insert_stmt.format(columns, vals)
print stmt

category,view_cnt,title,summary,link,time
?,?,?,?,?,?
insert into news_entry(category,view_cnt,title,summary,link,time) values(?,?,?,?,?,?)

In [11]:
import sqlite3
db=sqlite3.connect('news.sqlite')
cur=db.cursor()
insert_stmt = 'insert into news_entry({}) values({})'
for news in newsall:
    columns = ','.join(news.keys())
    vals = ','.join(len(news.keys()) * '?')
    sql = insert_stmt.format(columns, vals)
    #print sql
    cur.execute(sql, news.values())
cur.close()
db.close()

OperationalError: no such table: news_entry

## insert data into sqlite3 with pandas

In [19]:
import pandas as pd 
df = pd.DataFrame(newsall)
df.head()

,category,link,summary,time,title,view_cnt
0,正妹,http://www.appledaily.com.tw/realtimenews/arti...,好勵志的正妹啊！ 今天1名正妹Tang Hana在爆廢公社PO了一篇勵志文，分享她只花了1年...,16:12,她花1年半甩掉70公斤 胖妹變辣妹,0
1,財經,http://www.appledaily.com.tw/realtimenews/arti...,受外資續買匯影響，台幣對美元匯率今天續呈貶值走勢，終場貶值2.1分，以32.377元兌1美元...,16:10,新台幣收盤～32.377元 貶2.1分,0
2,財經,http://www.appledaily.com.tw/realtimenews/arti...,更新：新增影片 尚凡資訊（5278）下午舉行法說，尚凡董事長張家銘指出，由於子公司婚戀交友A...,16:09,尚凡4月營收年增63% Q3進軍中南美,66
3,生活,http://www.appledaily.com.tw/realtimenews/arti...,撿到別人掉落的物品，一般來說只要撿起來直接還給對方就可以。但撿到同事的陰道塞劑，這該如何歸還...,16:08,撿到同事放在陰道的這個 她問該怎麼還,422
4,國際,http://www.appledaily.com.tw/realtimenews/arti...,在越南搭Uber，小心遇上黑心司機！台灣一名旅客江先生向《蘋果》投訴，稱上月30日從越南胡志...,16:08,惡劣！台男越南遇黑心Uber 繞路又偷錢,40

In [15]:
import sqlite3 as lite
with lite.connect('news.sqlite') as db:
    df.to_sql(name='news_entry2', index=False, con=db, if_exists='replace')

In [18]:
import sqlite3 as lite
with lite.connect('news.sqlite') as db:
    df2 = pd.read_sql_query('SELECT * FROM news_entry;', db)
df2.count()
#df2.head()

id          1500
category    1500
view_cnt    1500
time        1500
title       1500
summary     1500
link        1500
dtype: int64